/* CSS RESET STYLING */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles for each container */
.container {
  background-color: #f4efef;
  border: 6px solid #000007;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 60px;
  padding-top: 70px;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  padding-top: 15px;
  padding-left: 33px;
  padding-right: 20px;
  font-size: 60px;
  font-weight: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #004000;
}

#rabbit-picture {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  width: fit-content;
}

#rabbit-picture img {
  border-radius: 24px;
  width: 600px;
  height: 350px;
}

#frame-picture {
  padding-top: 75px;
  padding-left: 45;
  width: 100%;
  height: 10px;
  border-radius: 24px;
  width: fit-content;
}

#frame-picture img {
  border-radius: 24px;
  width: 500px;
  height: 250px;
}

.overlay {
  justify-content: center;
  position: relative;
  left: 150px;
  width: 200px;
  height: 260px;
  z-index: 2;
  font-size: 28px;
  align-content: center;
  padding-left: 27px;
}

#breed-div {
  padding-left: 60px;
}

#overlay3 {
  justify-content: center;
  position: relative;
  top: 74px;
  left: 100px;
  width: 400px;
  height: 0px;
  bottom: 400px;
  z-index: 2;
  font-size: 80px;
  font-weight: bolder;
  align-content: center;
  padding-left: 30px;
}

#ubong {
  font-size: 35px;
}

#section2 {
  padding-top: 15px;
}

#overlay2 {
  justify-content: center;
  position: relative;
  top: 100px;
  left: 20px;
  width: 450px;
  height: 40px;
  bottom: 30px;
  z-index: 1;
  font-size: 6px;
  align-content: center;
  padding-left: 115px;
}

#heading2 {
  color: #000007;
  font-size: 29px;
}

h2 {
  color: #000007;
  font-size: 20px;
}

ul {
  color: #004000;
  font-size: 20px;
  font-weight: bolder;
}

#paragraph2 {
  color: #004000;
  font-size: 20px;
  font-weight: bolder;
  text-align: justify;
}

#paragraph3 {
  font: 20px;
  color: #004000;
  font-weight: bolder;
}

#breed-heading {
  font-size: 32px;
  color: #000007;
  padding-left: 35px;
  padding-bottom: 10px;
}

#breed-paragraph {
  font-size: 30px;
  font-weight: bolder;
  padding-bottom: 20px;
  color: #003c40;
}

span {
  font-size: 33px;
  padding-left: 20px;
}

main {
  display: flex;
  width: fit-content;
}

#image3 img {
  border-radius: 24px;
  width: 600px;
  height: 190px;
}

#image4 img {
  padding-left: 3px;
  border-radius: 24px;
  width: 600px;
  height: 560px;
}
#image4-div {
  padding-top: 10px;
}
#vvvv {
  font-size: 25px;
}

body {
  background-color: #4c4d4c;
  padding-left: 2250px;
  padding-top: 100px;
}
